DATABASE_URL=

API_KEY=
API_KEY_HEADER=

RAPID_API_KEY=

SUPABASE_URL=
SUPABASE_KEY=

APIFY_API_KEY=
APIFY_ACTOR_ID=

JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

DEFAULT_USER_USERNAME=
DEFAULT_USER_PASSWORD=
DEFAULT_USER_EMAIL=
DEFAULT_USER_FULL_NAME=

CORS_ORIGINS=
ENVIRONMENT=
VALIDATE_ENV=
LOG_LEVEL=